<div class="login">

    <img class='logo' src="/assets/img/logotdm.png" alt="logo_tdm">

    <img class="areadelogin" src="/assets/img/áreadelogin.png" alt="Area de Login">

    <div class="form-login">
    	<p>
    		<mat-form-field appearance="outline" class="e-mail">
    			<mat-label>usuario@tdmlogistica.com.br</mat-label>
    			<input matInput placeholder="Placeholder">
    			<mat-icon matSuffix>local_post_office</mat-icon>
    		</mat-form-field>
      </p>
      <p>
    	  <mat-form-field appearance="outline" class="senha">
    		  <mat-label>senha</mat-label>
    		  <input matInput placeholder="Placeholder">
    		  <mat-icon matSuffix>vpn_key</mat-icon>
    		</mat-form-field>
    	</p>

      <a class="botao-entrar" mat-button href="/home"><a class="text-button">ENTRAR</a></a>

    </div>

</div>

<div class="introducao">

    <img class='background' src="/assets/img/background.png" alt="background">

</div>
